<div class="game-board">
  <div>
    <div class="d-flex flex-center justify-around">
      <button (click)="onNewGame()">New Game</button>
      <app-stats-bar
        class="p-l-5"
        [playerStats]="playerStats"
        [marketTradeEnabled]="gameService.marketTradeEnabled"
      ></app-stats-bar>
    </div>
    <br />

    <app-hex-grid [grid]="hexGrid" [debug]="debug"></app-hex-grid>

    <div class="d-flex">
      <div class="tile-stats styled-box flex-auto">
        <!-- <app-tile-data [type]="'water'"></app-tile-data> -->
        <app-tile-data [type]="'grass'"></app-tile-data>
        <app-tile-data [type]="'forest'"></app-tile-data>
        <app-tile-data [type]="'mountains'"></app-tile-data>
      </div>

      <div class="styled-box">
        <p>
          <span>Current Player: </span>
          <span *ngIf="currentPlayer" [style.color]="currentPlayer.color"
            >{{ currentPlayer.name }}
          </span>
        </p>
        <span>Year: {{ gameService.gameRound }}</span>
        <p class="stats-entity">
          <img src="assets/images/hourglass.png" alt="" />
          <span>Actions:</span>
          <span>{{ actionsTaken }}/{{ currentPlayer.maxActions }}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="w-full d-flex">
      <button class="w-full" (click)="onAction(Actions.EndTurn)">
        <div
          class="progress"
          [style.width]="100 - (actionsTaken / currentPlayer.maxActions) * 100 + '%'"
        ></div>
        <span>{{ actionsTaken }}/{{ currentPlayer.maxActions }}</span>
        <img src="assets/images/hourglass.png" alt="" />
        End Turn
      </button>
      <button class="w-full" [disabled]="!action" (click)="onCancelAction()">
        <img src="assets/images/cross.png" alt="" />
        Cancel
      </button>
    </div>

    <button
      [disabled]="canBuildStructure('road')"
      [title]="canBuildStructure('road') ?? ''"
      (click)="onAction(Actions.BuildRoad)"
    >
      <app-structure-data class="d-contents" [type]="'road'"></app-structure-data>
    </button>
    <button
      [disabled]="canBuildStructure('outpost')"
      [title]="canBuildStructure('outpost') ?? ''"
      (click)="onAction(Actions.BuildOutpost)"
    >
      <app-structure-data class="d-contents" [type]="'outpost'"></app-structure-data>
    </button>
    <button
      [disabled]="canBuildStructure('city')"
      [title]="canBuildStructure('city') ?? ''"
      (click)="onAction(Actions.BuildCity)"
    >
      <app-structure-data class="d-contents" [type]="'city'"></app-structure-data>
    </button>
    <button
      [disabled]="canBuildStructure('capitol')"
      [title]="canBuildStructure('capitol') ?? ''"
      (click)="onAction(Actions.BuildCapitol)"
    >
      <app-structure-data class="d-contents" [type]="'capitol'"></app-structure-data>
    </button>
    <button
      [disabled]="canBuildStructure('monument')"
      [title]="canBuildStructure('monument') ?? ''"
      (click)="onAction(Actions.BuildMonument)"
    >
      <app-structure-data class="d-contents" [type]="'monument'"></app-structure-data>
    </button>
    <br />
  </div>
</div>
