@import "structure";
@import "hex";
@import "form_fields";
@import "stats";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Quattrocento", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // background-color: #333;
  background-color: #1e2424;
  color: white;
  // background-image: url("../assets/images/clouds.png");
}

:root {
  --c-grass: #8bc34a;
  --c-forest: #006600;
  // --c-water: #0066cc;
  // --c-water: #0865a5;
  --c-water: #247eb6;

  --c-primary: var(--c-water);
  --c-gold: rgba(255, 215, 0, 0.2);
}

.gray,
.text-muted {
  color: grey;
}
.red {
  color: red;
}
.green {
  color: #8bc34a;
}

.d-contents {
  display: contents;
}

.d-flex,
.flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center,
.items-center {
  align-items: center;
}

.flex-auto {
  flex: 1;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.preformat-whitespace {
  white-space: pre;
}

.p-l-5 {
  padding-left: 5px;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

hr {
  outline: none;
  border: none;
  border-top: 1px solid var(--c-gold);
  width: 100%;
}

a {
  color: rgb(96 91 63);
  text-decoration: none;

  &:hover {
    color: gold;
  }
}
