.box {
  padding: 10px 15px;
  color: white;
  background: hsl(28deg 16% 12%);
  border: 1px solid rgb(96 91 63);
}

button,
.button {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: var(--c-primary);
  color: white;
  // border: none;
  text-shadow: 0 0 1px black;
  cursor: pointer;
  border: 1px solid rgb(96 91 63);
  background: rgb(0 0 0 / 20%);
  background: hsl(28deg 16% 12%);
  background: linear-gradient(0deg, hsl(28deg 16% 12%), rgb(68 64 61));

  &:hover {
    // border-color: white;
    filter: brightness(1.2);
    border: 1px solid rgba(255, 215, 0, 0.5);
  }

  img {
    height: 24px;
    filter: drop-shadow(0 0 1px black);
  }

  &:disabled {
    filter: grayscale(0.5) brightness(0.5);
    cursor: not-allowed;
    color: gray;
  }
}

button {
  position: relative;
}

.progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  z-index: 5;
  background: rgba(255, 215, 0, 0.5);
}
