.stats-entity {
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    height: 20px;
  }
  .data {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  span {
    cursor: default;
  }
}

.stats-group {
  display: flex;
  gap: 20px;
}

.stats-group-v .stats-group {
  flex-direction: column;
}

.stats-group-h .stats-group {
  flex-direction: row;
}

.stats-bar {
  display: flex;

  .dropdown-content {
    left: -100%;
  }

  .stats-group {
    padding: 0 15px;
    .stats-entity {
      padding: 5px 0;
    }
    background: hsl(13deg 5% 15%);
    &:first-child {
      //   border-right: 1px solid rgba(black, 0.2);
      margin-right: 10px;
    }
    border: 1px solid var(--c-gold);
  }

  .rate {
    font-size: 0.8em;
  }
}

.styled-box {
  padding: 5px 15px;
  background: hsl(13deg 5% 15%);
  border: 1px solid var(--c-gold);
}

.structure-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  text-align: left;

  gap: 15px;

  & > * {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.tile-stats {
  display: flex;
  justify-content: center;
  gap: 50px;

  h4 {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    img {
      height: 30px;
    }
  }
}
