<div class="layout">
  <!-- <header class="header max-content-width"> -->
  <!-- <h1>Colony Expansion</h1> -->
  <!-- </header> -->

  <main class="main">
    <!-- <router-outlet></router-outlet> -->
    <app-game></app-game>

    <!-- <div class="game-debug">
      <span>Current Player: </span>
      <span *ngIf="currentPlayer" [style.color]="currentPlayer.color">{{currentPlayer.name}} </span>
      <br>
      <span>Stats:</span>
      <pre *ngIf="currentPlayer">{{currentPlayer.stats | json}}</pre>
    </div> -->
  </main>

  <!-- <footer> -->
  <app-footer class="w-full" [updated]="APP_MODIFIED_DATE"></app-footer>
  <!-- </footer> -->
</div>
