<div class="tile" [class.tile-selected]="hexTile?.data?.color === 'white'"
  [style.background-color]="hexTile?.data?.color" (click)="onClick(false)">

  <!-- <button class="tile-upgrade green" title="Upgrade" *ngIf="canUpgrade" (click)="onClick(true)">+</button> -->

  <div class="tile-content" *ngIf="debug">{{hexTile?.row}}, {{hexTile?.col}}</div>
  <div class="tile-content tile-yield" *ngIf="hexTile?.data?.yield">+{{hexTile?.data?.yield}}</div>
  <div class="tile-image tile-structure" *ngIf="hexTile?.data?.structure" [ngClass]="hexTile?.data?.structure"></div>
  <div class="tile-image tile-background" [class.variant]="variant" [ngClass]="hexTile?.data?.type"></div>
</div>

<!-- <pre>{{hexTile?.data | json}}</pre> -->
