<div class="flex flex-row items-center justify-evenly">
  <div class="flex flex-col">
    <div class="">
      <span class="p-1" *ngIf="version">v{{ version }} </span>
      <a
        href="https://deniszholob.github.io/colony-expansion/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
        Github
      </a>
    </div>
    <div class="">Updated {{ updated | date : 'y/M/d' }}</div>
  </div>

  <div class="flex flex-col text-center">
    <span>
      Design by
      <a href="https://deniszholob.com" target="_blank" rel="noopener noreferrer">
        deniszholob.com
      </a>
    </span>

    <span>
      Icons by
      <a
        class="text-xs text-gray-500 hover:text-gray-500"
        href="https://www.kenney.nl/"
        title="icons"
      >
        Kenney
      </a>
    </span>
  </div>
  <a
    class="button primary"
    href="https://ko-fi.com/deniszholob"
    target="_blank"
    rel="noopener noreferrer"
  >
    Donate
  </a>
</div>
